@import url('https://cdn.lineicons.com/LINE_Seed_Sans_TH_App/font-face.css');
@import "tailwindcss";

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/font/LINESeedSansTH_W_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/font/LINESeedSansTH_W_Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/font/LINESeedSansTH_W_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --app-bg: #f8fafc;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "LINESeedSansTH",
    sans-serif;
  background: #f8fafc;
}



.footer-curved {
  position: relative;
  height: 72px;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(90deg, #06c755, #04a846);
  /* box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.18); */
  overflow: hidden;
}

.footer-curved::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 999px;

  background: var(--app-bg);
  border: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;

  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

/* Splash animation */
@keyframes splash-logo-pop {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(18px);
  }

  60% {
    opacity: 1;
    transform: scale(1.06) translateY(0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes splash-sub-fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  40% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-splash-logo {
  animation: splash-logo-pop 900ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-splash-sub {
  animation: splash-sub-fade 700ms ease-out 200ms forwards;
  opacity: 0;

}


.bubble-float-wrapper {
  animation-name: bubble-float-y;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

@keyframes bubble-float-y {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0px);
  }
}